body, div, dl, dt, dd, ul, ol, li,legend, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
  padding:0;
  margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}

body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #4c4c4c;
}


legend {
  font-size: 25px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}


.testbox {
  cursor: pointer;
  position: relative;
  left: 0;
  width: 125px;
  height: 200px;
  -webkit-border-radius: 8px/7px;
  -moz-border-radius: 8px/7px;
  border-radius: 8px/7px;
  background-color: #ebebeb;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  box-shadow: 1px 2px 5px rgba(0,0,0,.31);
  border: solid 1px #cbc9c9;
  border-radius: 25px;
}

input[type=radio] {
  visibility: hidden;
}

form{
  margin: 0 30px;
}

label {
  text-indent: 18px;
  overflow: visible;
  display: inline-block;
  margin-bottom: 4px;
}

hr{
  color: #a9a9a9;
  opacity: 0.5;
}

input[type=text]{
  width: 35px;
  height: 20px;
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  box-shadow: 2px 2px 5px rgba(0,0,0,.09);
  border: solid 1px #cbc9c9;
  margin-left: 10px;
  margin-top: -1px;
  padding-left: 10px;

}






